Schema/module/ModuleType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  
  targetNamespace="Module"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  xmlns:menus="Menus"
  > 
  
  <xs:import 
  schemaLocation="file:/C:/SiteMapperXML/Schema/menu/MenusType.xsd" 
  namespace="Menus"/>
    
  <xs:complexType name="ModuleType">
    <xs:sequence>
      <xs:element name="Menus" type="menus:MenusType" minOccurs="1" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" use="required"></xs:attribute>
  </xs:complexType>
  
</xs:schema>