Schema/module/ModuleType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  
  targetNamespace="Module"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"  
  xmlns:men="Menu"
  > 
  
  <xs:import 
  schemaLocation="file:/C:/SiteMapperXML/Schema/menu/MenuType.xsd" 
  namespace="Menu"/>
    
  <xs:complexType name="ModuleType">
    <xs:all>
      <xs:element name="LeftMenu" type="men:MenuType" minOccurs="0" maxOccurs="1" />
      <xs:element name="TopRightNav" type="men:MenuType" minOccurs="0" maxOccurs="1" />
    </xs:all>      
    <xs:attribute name="name" use="required"></xs:attribute>
  </xs:complexType>
  
</xs:schema>