Schema/data/DataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns="DataType" targetNamespace="DataType"
    elementFormDefault="qualified">
    
        <xs:complexType name="DataType">
            <xs:sequence>
                <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="id" type="xs:string"/>    
                        <xs:attribute name="value" type="xs:string"/>
                    </xs:complexType>
                </xs:element>                    
            </xs:sequence>
        </xs:complexType>
    
</xs:schema>
