Schema/menu/MenusType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  
  targetNamespace="Menus"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  xmlns:men="Menu"
  > 
  
  <xs:import 
  schemaLocation="MenuType.xsd" 
  namespace="Menu"/>
  
  <xs:complexType name="MenusType">
    <xs:sequence>      
      <xs:element name="Menu" minOccurs="1" maxOccurs="1" />
      <xs:choice>
        <xs:element name="Left" type="men:MenuType" minOccurs="0" maxOccurs="1" />
        <xs:element name="TopRight" type="men:MenuType" minOccurs="0" maxOccurs="1" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>