Schema/menu/MenuType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  
  targetNamespace="Menu"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  xmlns:itm="MenuItemType"
  >  
  
  <xs:import 
  schemaLocation="MenuItemType.xsd" 
  namespace="MenuItemType"/>
    
  <xs:complexType name="MenuType">
    <xs:sequence>                                
      <xs:element name="MenuItem" type="itm:MenuItemType" maxOccurs="unbounded"/>    
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="package" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>